body {
    background-color: white;
    }
    header {
    background-color: grey;
    padding: 20px 40px;
    }
    .header {
    display: flex;
    justify-content: space-between;
    }
    .boton1 {
    background-color: orange;
    height: 65px;
    width: 200px;
    }
    .boton2 {
    background-color: white;
    height: 15px;
    width: 90px;
    }
    .boton3 {
    background-color: orange;
    height: 15px;
    width: 90px;
    }
    nav {
    background-color: lightgrey;
    padding: 0px 150px;
    }
    .nav {
    display: flex;
    justify-content: space-between;
    }
    .menu1 {
    background-color: darkslategrey;
    height: 65px;
    width: 150px;
    }